# The NEWM Batcher service (part of systemd)
# file: /etc/systemd/system/newm-batcher.service  

[Unit]
Description       = NEWM Batcher Service
Wants             = network-online.target
After             = network-online.target  

[Service]
User              = your_username
Group             = your_groupname
Environment       = REPO_PATH=/absolute/path/to/your/application
WorkingDirectory  = /absolute/path/to/your/application
ExecStartPre      = /bin/bash -c '${REPO_PATH}/check_cardano_node.sh'
ExecStart         = /bin/bash -c 'source ${REPO_PATH}/venv/bin/activate && exec ${REPO_PATH}/venv/bin/python3 ${REPO_PATH}/batcher.py'
Restart           = always
RestartSec        = 10
Environment       = PYTHONUNBUFFERED=1
SyslogIdentifier  = newm-batcher
Type              = simple
KillSignal        = SIGINT
RestartKillSignal = SIGINT
TimeoutStopSec    = 300
LimitNOFILE       = 32768

[Install]
WantedBy          = multi-user.target
